TTA_ENV=qa
BASE_URL=https://app.thetestingacademy.com
QA_BASE_URL=https://app.thetestingacademy.com
STG_BASE_URL=https://stage.thetestingacademy.com
PROD_BASE_URL=https://app.thetestingacademy.com
DEV_BASE_URL=http://localhost:3000
API_BASE_URL=https://restful-booker.herokuapp.com
LOG_LEVEL=info
ATTACH_SCREENSHOTS=false
TEST_ENV=QA
TEST_AUTHOR=TTA-QA

# e2e-checkout-env.spec.ts
STANDARD_USER=standard_user
TTA_SECRET=tta_secret
CHECKOUT_ITEM_ID=test-allthethings-tshirt-red
CHECKOUT_FIRST_NAME=Pramod
CHECKOUT_LAST_NAME=Dutta
CHECKOUT_POSTAL_CODE=560001